@import 'tailwindcss';

:root {
	--color-dark-mode: #0b0e13;
	--color-aqua: #0e4f63;
	--color-clay-green: #b2c1bd;
	--color-snow-white: #f9f9f8;

	--z-header: 1000;
}

body {
	font-family: 'General Sans', sans-serif;
	font-size: 16px;
}

.btn {
	background: var(--color-aqua);
	display: flex;
	align-items: center;
	gap: 0.65rem;

	padding-inline: 0.75rem 1rem;
	padding-block: 0.75rem;

	color: var(--color-snow-white);
	border-radius: 0.25rem;
	border: 0.03125rem solid var(--color-snow-white);

	font-weight: 500;

	/* Button variants */
	&.btn--dark {
		background: var(--color-dark-mode);
		color: var(--color-snow-white);
		border-color: var(--color-snow-white);
	}

	&.btn--white {
		background: var(--color-snow-white);
		color: var(--color-dark-mode);
		border-color: var(--color-snow-white);
	}

	/* Children */
	.btn__text {
		text-wrap: nowrap;
	}

	.btn__icon {
		font-size: 1rem;

		&.btn__icon--rotate {
			rotate: -45deg;
		}
	}
}
